server {
    listen 80;
    listen [::]:80;
    server_name {{ domain2 }};
    return 301 https://{{ domain2 }}$request_uri;
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    include snippets/{{ domain2 }}-cert.conf;
    #include snippets/testcert.conf;

    server_name {{ domain2 }};

    root /var/www/html;
    index index.html index.htm index.nginx-debian.html;

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    # Very rarely should these ever be accessed outside of your lan
    location ~* \.(txt|log)$ {
        allow 192.168.0.0/16;
        deny all;
    }

    # Allow "Well-Known URIs" as per RFC 5785
    location ~* ^/.well-known/ {
        allow all;
    }

    # Block access to "hidden" files and directories whose names begin with a
    # period. This includes directories used by version control systems such
    # as Subversion or Git to store control files.
    location ~ (^|/)\. {
        return 403;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
        try_files $uri @rewrite;
        expires max;
        log_not_found off;
    }
}
